<script type="text/javascript">
    const openCart = function () {
        document.getElementById("myCart").style.width = "350px";
    };
    const closeCart = function () {
        document.getElementById("myCart").style.width = "0";
    }
</script>

<div class="cart">
    <div id="myCart" class="cartWindow">
        <a href="javascript:void(0)" class="closebtn" onclick="closeCart()">&times;</a>
        <div class="cart-main">
            <h5 class="cart-heading">My Cart</h5>
            <div class="total-cart">
                <% for(let i=0; i < cart.length; i++) {%>
                <div class="cart-item">
                    <a class="cart-link" href="/shop/<%= cart[i].id %> ">
                        <div class="cart-preview">
                            <img class="cart-image" src="<%= cart[i].image %>" alt="cart-item">
                        </div>
                        <div class="cart-data">
                            <h6 class="cart-item-heading">
                                <%= cart[i].name %>
                            </h6>
                            <br />
                            $ <%= cart[i].price %>
                            <br />
                            Qty: <%= cart[i].amount %>
                        </div>
                    </a>
                    <div class="cart-item-delete">
                        <!-- delete -->
                        <form action="/shop/<%= cart[i]._id %>/delete?_method=DELETE" method="POST">
                            <input class="waves-effect waves-light btn-small red accent-1" type="submit" value="X" />
                        </form>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="cart-end">
                <div class="subtotal">
                    <h6 class="subtotal-text">Subtotal</h6>
                    <% let total=0; 
                for (let i=0; i< cart.length; i++) { 
                    total=parseInt(total + cart[i].price) %>
                    <% } %>
                    <h6 class="subtotal-text">$ <%= total %></h6>
                </div>
                Shipping, taxes, and discount codes calculated at checkout.
                <br />
                <a href="#" class="checkout-btn waves-effect waves-light btn-small light-green darken-1">Checkout</a>
            </div>

        </div>
    </div>
</div>