<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %> 
    <title>Planta Nullius | <%= currentUser.firstName  %> </title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %> 
    </header>
    <h2>Welcome <%= currentUser.firstName  %>! </h2>
    <a href="/shop/new">Create new plant</a>
    <footer>
        <%- include('./partials/footer.ejs'); %> 
    </footer>    
</body>
</html>