<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
        <title>Planta Nullius | <%= currentUser.firstName %>
        </title>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    
    <div class="main">
        <br />
        <div class="dashboard-features">

            <h2>Welcome, <%= currentUser.firstName %>! </h2>
            <div class="dash-button">
                <a class="waves-effect waves-light btn-large  light-green darken-1" href="/shop/new">Create new
                    plant</a>
                

            </div>

        </div>
        <div class="gallery">

        </div>


        <!-- Best Sellers -->
        <%- include('./partials/bestSellers.ejs'); %>
    </div>


    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>

</html>