<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %> 
    <title>Planta Nullius | <%= currentUser.firstName  %> </title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %> 
    </header>
    <h2>Welcome <%= currentUser.firstName  %>! </h2>
    <div class="gallery">

    </div>
    <section>
      <best-Sellers>
        <h2>Best Sellers</h2>
        <ul>
            <% for(let i=0; i < plants.length; i++) {%>

                <% if (plants[i].bestSeller==true) { %>
                    <li>
                        <a href="/shop/<%= plants[i]._id %>">
                            <%= plants[i].name %>
                        </a>
                    </li>
                <% } %>
             <% } %>
        </ul>
    </best-Sellers>  
    </section>
    <a href="/shop/new">Create new plant</a>
    <footer>
        <%- include('./partials/footer.ejs'); %> 
    </footer>    
</body>
</html>