<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
        <title>Planta Nullius | <%= currentUser.firstName %>
        </title>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <h2>Welcome <%= currentUser.firstName %>! </h2>
    <div class="gallery">

    </div>

    <a href="/shop/new">Create new plant</a>

    <!-- Best Sellers -->
    <%- include('./partials/bestSellers.ejs'); %>

        <footer>
            <%- include('./partials/footer.ejs'); %>
        </footer>
</body>

</html>