<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>Planta Nullius | <%= plant.name %>
        </title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main class="show-container">
        <div class="side-img">
            <img src="<%= plant.image %> " />
        </div>

        <div class="side-show">
            <h2 class="show-heading">
                <%= plant.name %>
            </h2>
            <ul>
                <li>
                   <%= plant.description %>
                </li>
            </ul>
            <ul class="show-grid">
                <li>
                    <%= plant.botanicalName %> 
                </li>
                <li>
                    <%= plant.type %> 
                </li>
            </ul>
            <ul class="show-numbers">
                <li>
                    $<%= plant.price %> 
                </li>
                <li>
                    Quantity: <%= plant.quantity %> 
                </li>
            </ul>

            <!-- edit -->
            <a href="/shop/<%= plant._id %>/edit">Edit Plant</a>

            <!-- delete -->
            <form action="/shop/<%= plant._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Plant" />
            </form>
        </div>

    </main>







    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>